h2 
{ color:green;
}
body
{ background: lightblue;
}
table, th, td {
  border: 1px solid black;
  color:yellow;
  background-color:pink;
  }
  img {
  border-radius: 8px;
  width: 7%;
  height: 7%;
  opacity: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
h2 {
  color: red;
}